<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="juiceShop" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="juiceShop" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="juiceShop" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<!--suppress HtmlUnknownAnchorTarget -->
<html lang="en" ng-app="juiceShop" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OWASP Juice Shop</title>
    <meta name="description" content="An intentionally insecure Javascript Web Application">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="bower_components/bootswatch/slate/bootstrap.min.css" rel="stylesheet" id="theme">
    <!-- Font Awesome -->
    <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Flag Icons -->
    <link href="bower_components/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <!-- Github Ribbon -->
    <link rel="stylesheet" href="bower_components/github-fork-ribbon-css/gh-fork-ribbon.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="bower_components/github-fork-ribbon-css/gh-fork-ribbon.ie.css">
    <![endif]-->
    <!-- Application Styles-->
    <link rel="stylesheet" href="css/app.css"/>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- libraries, third party components -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/string/dist/string.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/angular-socket-io/socket.min.js"></script>

    <!--  application specific source files -->
    <script src="dist/juice-shop.min.js"></script>

</head>
<body ng-cloak translate-cloak>


<!-- HEADER -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid" ng-controller="NavbarController">
        <div class="navbar-header">
            <a href="#/"><img class="navbar-brand navbar-logo" src="/public/images/JuiceShop_Logo.svg" alt="Juice Shop Logo"></a><a class="navbar-brand" href="#/">OWASP Juice Shop <small ng-bind="version"></small></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" ng-show="!isLoggedIn()">
                <a href="#/login"><i class="fa fa-sign-in fa-lg"></i> <span translate="TITLE_LOGIN"></span></a>
            </li>
            <li class="dropdown" ng-show="isLoggedIn()">
                <a href="#/logout"><i class="fa fa-sign-out fa-lg"></i> <span translate="TITLE_LOGOUT"></span></a>
            </li>
            <li class="dropdown">
                <a id="languageMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-language fa-lg"></i> <span translate="LANGUAGE"></span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="languageMenu" ng-controller="LanguageController">
                    <li><a ng-click="changeLanguage('en')"><span class="flag-icon flag-icon-us"></span> English</a></li>
                    <li><a ng-click="changeLanguage('de')"><span class="flag-icon flag-icon-de"></span> Deutsch</a></li>
                    <li><a ng-click="changeLanguage('nl')"><span class="flag-icon flag-icon-nl"></span> Nederlands</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="changeLanguage('es')"><span class="flag-icon flag-icon-es"></span> Español <i class="fa fa-flask"></i></a></li>
                    <li><a ng-click="changeLanguage('et')"><span class="flag-icon flag-icon-ee"></span> Eesti <i class="fa fa-flask"></i></a></li>
                    <li><a ng-click="changeLanguage('fr')"><span class="flag-icon flag-icon-fr"></span> Français <i class="fa fa-flask"></i></a></li>
                    <li><a ng-click="changeLanguage('it')"><span class="flag-icon flag-icon-it"></span> Italiano <i class="fa fa-flask"></i></a></li>
                    <li><a ng-click="changeLanguage('pt')"><span class="flag-icon flag-icon-pt"></span> Português <i class="fa fa-flask"></i></a></li>
                    <li><a ng-click="changeLanguage('ru')"><span class="flag-icon flag-icon-ru"></span> Pусский <i class="fa fa-flask"></i></a></li>
                    <li><a ng-click="changeLanguage('zh')"><span class="flag-icon flag-icon-cn"></span> 中国 <i class="fa fa-flask"></i></a></li>
                </ul>
            </li>
            <li>
                <form class="navbar-form" role="form" ng-controller="SearchController">
                    <div class="form-group">
                        <input type="text" class="form-control" translate-attr="{ placeholder: 'SEARCH_PLACEHOLDER' }" ng-model="searchQuery">
                    </div>
                    <button type="submit" id="searchButton" class="btn btn-default" ng-click="search()"><i class="fa fa-search fa-lg"></i> <span translate="NAV_SEARCH"></span></button>
                </form>
            </li>
            <li class="dropdown" ng-show="isLoggedIn()">
                <a href="#/basket"><i class="fa fa-shopping-cart fa-lg"></i> <span translate="TITLE_BASKET"></span></a>
            </li>
            <li class="dropdown" ng-show="isLoggedIn()">
                <a href="#/change-password"><i class="fa fa-user-secret fa-lg"></i> <span translate="TITLE_CHANGE_PASSWORD"></span></a>
            </li>
            <li class="dropdown">
                <a href="#/contact"><i class="fa fa-comment fa-lg"></i> <span translate="TITLE_CONTACT"></span></a>
            </li>
            <li class="dropdown" ng-show="isLoggedIn()">
                <a href="#/complain"><i class="fa fa-bomb fa-lg"></i> <span translate="NAV_COMPLAIN"></span></a>
            </li>
            <!--
            <li class="dropdown">
                <a href="#/score-board">Score Board</a>
            </li>
            -->
            <li class="dropdown ribbon-spacer">
                <a href="#/about"><i class="fa fa-info-circle fa-lg"></i> <span translate="TITLE_ABOUT"></span></a>
            </li>
        </ul>
    </div>
</nav>

<h1 class="hidden">OWASP Juice Shop</h1><!-- for SEO -->

<div class="container" ng-controller="ChallengeSolvedNotificationController">
    <div uib-alert ng-repeat="notification in notifications" ng-class="'alert alert-success'" close="closeNotification($index)">{{notification.message}}</div>
</div>

<!-- CONTENT -->
<div class="container-fluid" ng-view></div>

<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="/redirect?to=https://github.com/bkimminich/juice-shop" target="_blank" translate="RIBBON_GITHUB_FORK" translate-value-fork='<i class="fa fa-code-fork"></i>' translate-value-github='<i class="fa fa-github"></i> GitHub'></a>
    </div>
</div>

</body>
</html>
